 body{
    font-family: Arial;
    text-align: center;
    margin: 20px;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 12px;
    background: green;
    color: white;
    border: none;
}

table {
    margin: auto;
    margin-top: 20px;
    width: 80%;
}

th, td {
    padding: 10px;
}